body {
  background: #222;
  display: flex;
  justify-content: center;
  align-content: center;
}

.grid {
  padding: 20px;
  overflow: hidden;
  width: 800px;
  height: 40em;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;

  button {
    background: transparent;
    border: 4px solid #fff;
    padding: 0;
    margin: 0;
    height: 1em;
    box-sizing: border-box;
    flex: 1 1 5.25%;
    margin: 1em .5% 5px;
    position: relative;
    outline: none;

    &:hover {
      background: rgba(#fff, .2);
    }
    &.on {
      background: #fff;
      &:hover {
        background: rgba(#fff, .8);
      }
    }
    &.first {
      &::before {
        content: attr(data-instrument);
        position: absolute;
        left: 0;
        top: -1.5em;
        color: #fff;
        text-align: left;
      }
    }
    &.ticked {
      background: lightgreen;
      &:hover {
        background: rgba(lightgreen, .8);
      }
    }
  }
}

.controls {
  padding: 20px;
  display: flex;
  flex-direction: column;

  button {
    background: #fff;
    text-transform: uppercase;
    border: 0;
    display: inline-block;
    margin-right: 10px;
    width: 100px;
    flex: 0 1 100px;
    margin-bottom: 20px;
  }
}
